{% extends 'base.html' %}
{% block title %}Анкета{% endblock %}
{% block content %}
<h1>{{ question.text }}</h1>
<form method="post">
    {% csrf_token %}
    <input type="hidden" name="question_id" value="{{ question.id }}">
    {% if question.question_type == 'choice' %}
        {% for answer in question.answers.all %}
            <label>
                <input type="radio" name="answer" value="{{ answer.id }}">
                {{ answer.text }}
            </label><br>
        {% endfor %}
    {% elif question.question_type == 'text' %}
        <label>
            Ответ:
            <input type="text" name="text_response">
        </label><br>
    {% endif %}
    <button type="submit">Отправить</button>
</form>
{% endblock %}