{% extends 'base.html' %}
{% block title %}Анкета{% endblock %}
{% block content %}
    <form method="post">
        {% csrf_token %}
        {% for question in questions %}
        {% if forloop.counter >= 8 %}
            <div class="card">
                <div class="card-header">
                    <p>{{ question.text }}</p>
                    <input type="text" name="answer_{{ question.pk }}" required>
                </div>
            </div>
        {% endif %}
        {% endfor %}
        <button type="submit">Отправить ответы</button>
    </form>
{% endblock %}
